* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*  signifie que la taille totale d'un élément (largeur et hauteur) inclura également son padding et ses bordures */
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 300;	/* epaisseur */
	font-size: 1.3rem;	/* taille */
}

/* 
nav {
	height: 10vh;
	width: 100vw;

	color: #56cbf9;
	box-shadow: 5px 10px 10px grey;

	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		width: 30%;
		height: 100%;
		margin: auto;
	}

	ul {
		width: 100%;
		height: 100%;

		list-style-type: none;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	li {
		cursor: pointer;
	}
} */


header {
    background-color: whitesmoke;
    width: 100%;
    height: 8vh;
    margin: auto;
    position: sticky;	/* reste dans sa position spécifiée par rapport à un conteneur ou à la fenêtre du navigateur */
    top: 0;
    left: 0;
    z-index: 10;	/* contrôler la pile d'éléments qui se chevauchent. */
    box-shadow: 0rem 0.2rem 0.75rem;	/* effet sous la nav */
}
.nav-barre {
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

nav ul li {
    list-style: none; 
    margin: 0 2rem; 
}

nav a {
    text-decoration: none; 
    color: #476f95;
}

nav a:hover {
    padding-bottom: 0.35rem;
    border-bottom: 2px solid #194a7a; 
}

nav a:active {
    color: #a3b7ca;
	/* change de couleur au click */
}


/* Styles pour la barre de navigation des ordinateurs */
.desktop-nav {
    display: block;
}

.mobile-nav {
    display: none;
}

.hamburger-menu {
    display: none;
}

/* NAVBARRE Media query pour les écrans de taille maximale de 800px (téléphones) */
@media screen and (max-width: 800px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: center;
    }

    .hamburger-menu {
        cursor: pointer;
    }

    .nav-barre-mobile{
        
    }
    .navbar{
        font-size: 30px;
    } 




	.top-nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: #00BAF0;
		background: linear-gradient(to left, #f46b45, #eea849);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #FFF;
		height: 50px;
		padding: 1em;
	  }
	  
	  .menu {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		margin: 0;
		padding: 0;
	  }
	  
	  .menu > li {
		margin: 0 1rem;
		overflow: hidden;
	  }
	  
	  .menu-button-container {
		display: none;
		height: 100%;
		width: 30px;
		cursor: pointer;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	  }
	  
	  #menu-toggle {
		display: none;
	  }
	  
	  .menu-button,
	  .menu-button::before,
	  .menu-button::after {
		display: block;
		background-color: #fff;
		position: absolute;
		height: 4px;
		width: 30px;
		transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
		border-radius: 2px;
	  }
	  
	  .menu-button::before {
		content: '';
		margin-top: -8px;
	  }
	  
	  .menu-button::after {
		content: '';
		margin-top: 8px;
	  }
	  
	  #menu-toggle:checked + .menu-button-container .menu-button::before {
		margin-top: 0px;
		transform: rotate(405deg);
	  }
	  
	  #menu-toggle:checked + .menu-button-container .menu-button {
		background: rgba(255, 255, 255, 0);
	  }
	  
	  #menu-toggle:checked + .menu-button-container .menu-button::after {
		margin-top: 0px;
		transform: rotate(-405deg);
	  }
	  
	  @media (max-width: 700px) {
		.menu-button-container {
		  display: flex;
		}
		.menu {
		  position: absolute;
		  top: 0;
		  margin-top: 50px;
		  left: 0;
		  flex-direction: column;
		  width: 100%;
		  justify-content: center;
		  align-items: center;
		}
		#menu-toggle ~ .menu li {
		  height: 0;
		  margin: 0;
		  padding: 0;
		  border: 0;
		  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		#menu-toggle:checked ~ .menu li {
		  border: 1px solid #333;
		  height: 2.5em;
		  padding: 0.5em;
		  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		.menu > li {
		  display: flex;
		  justify-content: center;
		  margin: 0;
		  padding: 0.5em 0;
		  width: 100%;
		  color: white;
		  background-color: #222;
		}
		.menu > li:not(:last-child) {
		  border-bottom: 1px solid #444;
		}
	  }
      
}

main {
	width: 100vw;
	height: 90vh;
	color: aliceblue;
}

.main-container {
	width: 80%;
	height: 105%;
	margin: 3% auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* container du haut qui reprend 5 éléments */
.top-container {
	width: 100%;
	height: 55%;

	display: flex;
	justify-content: space-between;
}

/* container du bas qui reprend 2 éléments */
.bottom-container {
	width: 100%;
	height: 40%;

	display: flex;
	justify-content: space-between;
}

.top-left {
	height: 100%;
	width: 33%;
	background-color: #476f95;

	div {
		width: 65%;
		height: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		text-align: justify;

		p {
			/* line-height: 1.9rem; */
		}
	}
}

.top-right {
	height: 100%;
	width: 64%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bottom-left {
	height: 100%;
	width: 33%;
}

.bottom-right {
	height: 100%;
	width: 64%;
	background-color: #476f95;
	div {
		width: 80%;
		height: 100%;
		margin: auto;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;

		text-align: justify;

		p {
			line-height: 1.9rem;
		}
	}
}

.top-quarters {
	width: 100%;
	height: 47%;

	display: flex;
	justify-content: space-between;
}

.bottom-quarters {
	width: 100%;
	height: 47%;

	display: flex;
	justify-content: space-between;
}

.quarter1 {
	height: 100%;
	width: 47%;

	/* background-color: #476f95; */
}

.quarter2 {
	height: 100%;
	width: 47%;

	background-color: #476f95;
}

.quarter3 {
	height: 100%;
	width: 47%;

	background-color: white;
	color: #476f95;
	border: medium dashed #476f95;
	font-weight: 200;

	p {
		height: 100%;
		width: 80%;
		margin: auto;

		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2.2rem;
	}
}

.quarter4 {
	height: 100%;
	width: 47%;

	background-color: #476f95;
}

img {
	height: 100%;
	width: 100%;

	object-fit: cover;
	object-position: 100% 35%;
}

@media only screen and (max-width: 800px) {
	/* nav .nav-desktop {
		display: none;
	}

	nav .nav-mobile {
		width: 50%;
		height: 100%;
		margin: auto;

		display: flex;
		justify-content: space-between;
		align-items: center;

		svg {
			cursor: pointer;
		}
	} */

	.main-container {
		width: 90%;
		height: 175%;
		margin: 6% auto;
	}

	.top-container {
		height: 53%;
		flex-direction: column;
	}

	.bottom-container {
		height: 45%;
		flex-direction: column;
	}

	.top-left {
		width: 100%;
		height: 46%;

		div {
			width: 80%;
			font-size: 60%;
		}
	}

	.top-right {
		width: 100%;
		height: 50%;
	}

	.quarter1 img {
		object-position: 100% 100%;
	}

	.quarter2 img {
		object-position: 100% 100%;
	}

	.quarter3 {
		width: 100%;
	}

	.quarter4 {
		display: none;
	}

	.bottom-left {
		width: 100%;
		height: 45%;

		img {
			object-position: 0% 0%;
		}
	}

	.bottom-right {
		width: 100%;
		height: 50%;

		div {
			width: 87%;
			font-size: 50%;
		}
	}
}
